version: "3"

services:
  openfisca:
    build:
      context: .
    restart: always
    labels:
      lagoon.type: basic
      lagoon.service.port: 5000
    networks:
      - web
    volumes:
      - .:/openfisca

networks:
  web:
    external: true
